*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#eef5ff;
    color:#333;
}

header{
    background:#0066cc;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#004b99;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:12px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.container{
    width:85%;
    max-width:1000px;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

img{
    width:180px;
    display:block;
    margin:auto;
    border-radius:50%;
}

footer{
    background:#004b99;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
